.tabsnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.tabsnav--hidden {
	pointer-events: none;
	visibility: hidden;
}

.tabsnav__item {
	height: 50px;
	position: relative;
	cursor: pointer;
}

.tabsnav__bar {
	background: currentColor;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

.tabsnav__title {
	position: relative;
	cursor: pointer;
	margin: 0;
	height: 100%;
	font-weight: normal;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

/* Vertical Menu */
.tabsnav--vertical {
	display: flex;
	width: auto;
	height: 100%;
}

.tabsnav--vertical .tabsnav__item {
	flex: none;
	width: 100px;
	height: 100%;
}

.tabsnav--vertical .tabsnav__title {
	transform: rotate(-90deg);
}

/* Individual menu styles (Basque names) */

/* Ander */
.tabsnav--ander {
	left: 45px;
}

.tabsnav--ander .tabsnav__bar {
	background: #fff;
}

.tabsnav--ander .tabsnav__title {
	color: #1d48f3;
}

.tabsnav--ander .tabsnav__item:not(:last-child) {
	margin: 0 10px 0 0;
}

/* Zeru */
.tabsnav--zeru {
	background: #222525;
}

.tabsnav--zeru .tabsnav__item:first-child .tabsnav__bar {
	background: #161919;
}

.tabsnav--zeru .tabsnav__item:nth-child(2) .tabsnav__bar {
	background: #222525;
}

.tabsnav--zeru .tabsnav__item:nth-child(3) .tabsnav__bar {
	background: #2e3131;
}

.tabsnav--zeru .tabsnav__title {
	color: #fff;
}

/* Ibai */
.tabsnav--ibai {
	top: 50%;
	margin-top: -115px;
}

.tabsnav--ibai .tabsnav__item {
	height: 70px;
}

.tabsnav--ibai .tabsnav__bar {
	background: #414a52;
}

.tabsnav--ibai .tabsnav__title {
	color: #fc0;
}

.tabsnav--ibai .tabsnav__item:not(:last-child) {
	margin: 0 0 10px 0;
}

@media screen and (max-width: 40em) {
	/* don't show a background if on mobile */
	.tabsnav {
		background: none;
	}
}
.tabsnav--vertical .tabsnav__item {
	width: 1rem;
}
.tabsnav--vertical .tabsnav__title {
	writing-mode: tb-rl;
    line-height: 1rem;
	transform: rotate(-180deg);
	font-size: 38px;
	font-weight: 700;
	color: #fff;
	background: rgba(157, 41, 51);
	box-shadow: 0px 4px 15px 2px rgb(0 0 0 / 22%);
} 
.view {
	margin: 0px 0 0 20%;
}
.codrops-header {
	width: 100%;
}
.nav_send_form form {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form__icon {
  object-fit: contain;
  width: 30px;
  margin: 0 5px;
  opacity: 0.5;
  transition: 0.15s;
}
.form__icon:hover {
  opacity: 1;
  transition: 0.15s;
  cursor: pointer;
}
.form__input {
  width: 350px;
  height: 40px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
.form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}
.form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}
.button {
	width: 180px;
	height: 50px;
	border-radius: 25px;
	margin-top: 50px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1.15px;
	background: #9aa7b1;
	transition: all .3s linear;
	color: #f9f9f9;
	border: none;
	outline: none;
}
.form__input.form_text{
	height: 100px;
	padding-top: 20px;
}
.button:hover {
	background: rgba(157, 41, 51);
}
@media screen and (max-width:912px) {
	.view {
		margin: 0;
		height: unset;
		min-height: unset;
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.content {
		width: 100%;
	}
	.tabsnav {
		display: none;
	}
	.tabscontent {
		width: 100%;
		position: relative;
		opacity: 1;
		padding-top: 0;
		height: auto;
	}
	.tabscontent__item {
		position: relative;
		width: 100%;
		margin: 0;
		opacity: 1;
		height: auto;
		padding: 0 10px;
		padding-bottom: 60px;
	}
	.poster__box,.poster__deco,.poster__title {
		padding-left: 0;
		left: 0;
	}
	.poster__img {
		display: none;
	}
	.poster__title::after {
		left: -5.25rem;
	}
	.poster__box ul {
		flex-wrap: wrap;
		padding-right: 0;
	}
	.poster__box ul li {
		margin-bottom: 20px;
		max-width: calc(50% - 10px);
	}
	.poster__box ul li:nth-child(2n) {
		margin-right: 0;
	}
	.tab_item_02 .poster__caption {
		flex-direction:row;
	}
	.tab_item_02 .poster__box {
		position: relative;
		height: auto;
	}
	.tab_item_02 .poster__title {
		margin-right: 0;
		margin-top: 1rem;
	}
	.tab_item_02 .poster__deco{
		max-width: 100%;
	}
	.tab_item_02_img{
		position: relative;
		width: 100%;
		height: auto;
		left: 0;
		top: 0;
		margin-bottom: 20px;
	}
	.tab_item_02 .poster__deco {
		margin-right: 0;
		text-align: right;
	}
	.tab_item_btn {
		top: unset;
		bottom: 50px;
	}
	#gallery figure:first-child {
		margin-left: 0;
	}
	#gallery figure {
		width: calc(50% - 10px);
		margin-bottom: 10px;
	}
	#gallery {
		padding-right:0;
	}
	#gallery figure:nth-child(4){
		margin: 0;
	}
	#gallery figure > div >div{
		min-width: 100%;
	}
	#gallery figure small,#gallery figure figcaption {
		font-size: 14px;
		padding: 10px 0;
	}
	.poster__box ul li span {
		font-size: 14px;
		height: auto;
    padding: 10px 0;
		min-height: 62px;
	}
	.poster__box ul li {
		padding-bottom: 1.5rem;
	}
	.poster__box ul li {
		padding-bottom: 0;
	}
	.poster__box ul li span {
		position: relative;
		margin-top: 10px;
	}
}