.o-view-img {
    width: 20%;
    position: fixed;
    left: 0%;
    top: 0;
    height: 100vh;
}
.p2 {
    position: fixed;
    left: 20%;
    width: 2.8rem;
    height: 0.7rem;
    top: 20%;
}
.p2:nth-child(2) {
    top: calc(20% + 1.25rem);
}
.p2:nth-child(3) {
    top: calc(20% + 2.5rem);
}
.p2:nth-child(4) {
    top: calc(20% + 3.75rem);
}
.p2:nth-child(5) {
    top: calc(20% + 5rem);
}
.p2:before { /*做一个书签效果*/

    position: absolute; /*必须*/
    
    top: 0;
    
    left: -2.7rem;
    
    z-index: 1;
    
    height: 100%;
    
    width: 3rem;
    font-weight: bold;
    
    line-height: 0;
    
    color: #000;
    
    border: 0.35rem solid rgb(157, 41, 51);
    
    border-left-color: transparent; /*右边框透明，变成空缺的角*/
    border-top-width: 0.42rem;
    border-bottom-width: 0.42rem;
    border-right-width: 0.3rem;
    content: '';
    
    box-shadow: 0 5px 5px -5px #000;
    transition: transform 1.2s cubic-bezier(.2, .84, .49, 1);
    
    }
    
    .p2:after { /*书签的夹角*/
    
    content: '';
    
    position: absolute;
    top: 0.8rem;
    left: 0;
    border: 0.15rem solid rgb(120, 41, 51);;
    
    border-right-color: transparent;
    
    border-bottom-color: transparent;
    transition: border-width .6s cubic-bezier(.2, .84, .49, 1);
    }
    .p2 a {
        position: absolute;
        color: #fff;
        z-index: 9999;
        /* font-weight: 700; */
        font-size: 0.21rem;
        height: 0.8rem;
        line-height: .8rem;
        left: -2.65rem;
        padding-left: 1rem;
        text-transform: uppercase;
        transition: transform 1.2s cubic-bezier(.2, .84, .49, 1);
        width: 3rem;
        font-family: Poppins;
    }
    .p2:hover::before {
        transform: translateX(0.5rem);
        width: 3rem;
    }
    .p2:hover::after {
        border-width: 0;
    }
    .p2:hover a {
        transform: translateX(1rem);
    }
    .p2.active::before {
        transform: translateX(0.5rem);
        width: 3rem;
    }
    .p2.active::after {
        border-width: 0;
    }
    .p2.active a {
        transform: translateX(0.5rem);
    }
    .slideshow {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: grid;
        grid-area: 2 / 1 / 3 / 2;
        padding: 4vh calc(3vw + 20px);
        --gridgap: 1vw;
        --gridwidth: 100%;
        --gridheight: 100%;
        display: grid;
        width: var(--gridwidth);
        height: var(--gridheight);
        grid-template-rows: repeat(20,calc(var(--gridheight) / 20 - var(--gridgap)));
        grid-template-columns: repeat(20,calc(var(--gridwidth) / 20 - var(--gridgap)));
        grid-gap: var(--gridgap);
        align-content: center;
        justify-content: center;
    }
    .slide__figure {
        position: relative;
        display: flex;
        height: 2.5rem;
        width: calc(100vw - 3rem);
        max-width: 5rem;
        margin: 0 auto 2rem auto;
        flex-direction: column;
    }
    .slide__figure {
        width: auto;
        height: auto;
        max-width: none;
        margin: 0;
        will-change: transform;
        perspective: 10rem;
    }
    .slide--layout-1 .slide__figure:first-child {
        grid-area: 2 / 2 / 14 / 10;
    }
    .slide__figure-inner {
        position: relative;
        flex: 1;
    }
    .slide__figure-inner {
        overflow: hidden;
        transform: rotate3d(0,1,0,0.1deg);
        will-change: transform;
    }
    .slide__figure-img {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .slide__figure-img {
        z-index: 10;
        opacity: 1;
        will-change: transform;
        background-image: url(../images/1.jpg);
    }
    .slide__figure-reveal {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: #fff;
        z-index: 20;
        will-change: transform;
        transform: translate3d(0,0,0);
    }
    .content.pages {
        transform: unset;
        top: 15%;
        perspective:none;
        overflow: hidden;
        box-shadow: none;
    }
    .pattern {
        display: none;
    }

    .card__container {
        /* box-shadow: 10px 11px 20px -10px #332c2b; */
    }
    .card__container--closed .card__caption {
        background-color:  rgba(157, 41, 51,0.5);
    }
    .card {
        margin: 2% 1%;
        
    }
    .card__container--closed .card__content {
        padding: 5px 0;
    }
    .sitewidget-bd {
        border-left: 0 solid #333;
    border-right: 0 solid #333;
    border-top: 0 solid #333;
    border-bottom: 0 solid #333;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
        font-size: 18px;
        color: #333;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 2em;
        text-align: left;
        font-family: Poppins;
    }   
    .sitewidget-hd h2 {
        font-size: 26px;
        color: #000;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.5em;
        text-align: left;
        font-family: Poppins;
    }
    .privacy.pages {
        overflow: unset;
    }
    .product .p2 a {
        font-size: 0.18rem;
        height: 0.6rem;
        line-height: .6rem;
        width: 4rem;
        left: -3.65rem;
    }
    .product .p2 {
        height: 0.6rem;
    }
    .product .p2:before {
        width: 4rem;
        border-top-width:0.32rem;
        border-bottom-width:0.32rem;
        left: -3.7rem;
    }
    .product .p2:after {
        top: 0.6rem;
    }
    .product .p2:nth-child(2) {
        top: calc(20% + 0.85rem);
    }
    .product .p2:nth-child(3) {
        top: calc(20% + 1.7rem);
    }
    .product .p2:nth-child(4) {
        top: calc(20% + 2.55rem);
    }
    .product .p2:nth-child(5) {
        top: calc(20% + 3.4rem);
    }
    .product .p2:nth-child(6) {
        top: calc(20% + 4.25rem);
    }
    .product .p2:nth-child(7) {
        top: calc(20% + 5.1rem);
    }
    .product .p2:nth-child(8) {
        top: calc(20% + 5.95rem);
    }
    .product .poster__title {
        padding-left: 0;
        font-size: 0.26rem;
        text-shadow: unset;
        width: 100%;
        margin-top: 0;
        font-family: Poppins;
    }
    .product .poster__deco {
        padding-left: 0;
        font-size: 0.2rem;
        text-shadow: unset;
        font-family: Poppins;
    }
    .product  .poster__title::before {
        right: 1%;
        width: 3rem;
        top: -20%;
    }
    .product  .poster__title::after {
        left: 1%;
        width: 3rem;
    }
    .product .pages {
        box-shadow: none;
    }
    .product .poster__box {
        padding-left: 0;
    }
    div.o-pro {
        position: relative;
        overflow: hidden;
        box-shadow: inset 0px 0px 15px rgba(200,200,200,1);
        margin: auto;
        margin-top: 10px;
        border: #DDD 1px solid;
        border-radius: 5px;
    }
    
    div#ipresenter div#preloader {
        position: absolute;
        display: block;
        width: 150px;
        height: 5px;
        z-index: 200;
        border: #CCC 1px solid;
        border-radius: 4px;
        padding: 1px;
        background: #FFF;
        -webkit-transform: translate(-75px, 0px);
        -moz-transform: translate(-75px, 0px);
        -o-transform: translate(-75px, 0px);
        -ms-transform: translate(-75px, 0px);
        transform: translate(-75px, 0px);
        box-shadow: 0px 0px 8px rgba(200,200,200,1);
    }
    
    div#ipresenter div#preloader div {
        display: block;
        width: 0%;
        height: 5px;
        background: #CCC;
        border-radius: 3px;
    }
    
    div#ipresenter div.step {
        max-width: 10rem;
        min-width: 6rem;
        text-align: center;
        z-index: 10;
    }
    
    div#ipresenter div.step h2, div.step p {
        text-align: left;
    }
    div#ipresenter div img {
        width: 100%;
    }
    div#ipresenter div .pro-img-box{
        position: relative;
        max-width: 50%;
        height: 100%;
        display: block;
        float: left;
    }

    div#ipresenter div .pro-img {
        display: block;
        width: 130%;
        margin-top: -10%;
        margin-left: -20%;
    }
    div#ipresenter div h2 {
        font-weight: 700;
        margin-top: 10%;
        font-size: 24px;
        margin-bottom: 20px;
        text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    div#ipresenter div p {
        font-size: 16px;
        line-height: 1.5em;
    }
    div#ipresenter table {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }
    div#ipresenter table td,div#ipresenter table th{
        font-size: 16px;
    }
    div#ipresenter div#intro {
        width: 12rem;
    }
    .page-ipre {
        position: absolute;
        left: -10%;
        top: 0%
    }
    div#ipresenter div#intro img {
        float: left;
    }
    
    div#ipresenter div#capture h2 {
        text-align: center
    }
    
    a.ipresenter_stepsNav {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 100px;
        background-image: url(../images/nav_paddles.png);
        top: 43%;
        -webkit-transition: opacity 150ms ease-out;
        -moz-transition: opacity 150ms ease-out;
        -o-transition: opacity 150ms ease-out;
        transition: opacity 150ms ease-out;
    }
    
    a.ipresenter_stepsNav:active {
        background-image: url(../images/nav_paddles_down.png);
    }
    
    a#ipresenter_nextStep {
        right: 20px;
        background-position: 56px 0px;
    }
    
    a#ipresenter_prevStep {
        left: 20px;
        background-position: -16px 0px
    }
    
    div.o-pro div.ipresenter-controlNav {
        display: inline-block;
        position: absolute;
        left: 499px;
        bottom: 20px;

    }
    
    div.o-pro div.ipresenter-controlNav a {
        float: left;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
        margin-left: 20px;
        overflow: hidden;
        border-radius: 3px;
        height: 40px;
        width: 64px;
    }
    
    div.o-pro div.ipresenter-controlNav div.ipresenter-items ul {
        list-style: none;
    }
    
    div.o-pro div.ipresenter-controlNav div.ipresenter-items ul li {
        float: left;
    }
    .poster__deco{
        max-height: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    /* .o-v-pro .p2,.o-v-pro .p2 a {
        height: .5rem;
        font-size: 0.18rem;
        line-height: 2em;
        padding-left: 0;
        margin-top: .25rem;
    }
    .o-v-pro .p2:before {
        left: -4rem;
        width: 4.5rem;
        border-width:0.3rem;
        border-top-width: 0.4rem;
        border-bottom-width:0.4rem;
    }
    .o-v-pro .p2.active::after {
        border-width:.2rem;
    }*/
    .o-v-pro iframe {
        width: 10rem;
        height: 540px;
    }
    .o-v-pro .pro-adv {
        width: 10rem;
    } 
    #table table {
        width: 100%;
        min-width: 10rem;
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 99%;
        background-color: white;
        table-layout:fixed;
    }   
      #table table td,#table table th{
        line-height: 32px;
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
        text-overflow: ellipsis;
        word-wrap:break-word;
      }
      #table table tr:nth-child(2n) {
        background-color: #eee;
      }

    /* silution */
    .card__container {
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-overflow-scrolling: touch;
    }
    .card__content {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 30px 40px 22px;
        color: #888;
        background: #fff;
    }
    .card__btn-close {
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 36px;
        cursor: pointer;
    }
    .card__caption {
        font-size: 2em;
        max-width: 900px;
        margin: 0 auto;
        padding: 35px 30px 0px;
    }
    .card__title {
        font-size: 1.5em;
        line-height: 1;
        margin: 5px 0 0 0;
        color: #3b393d;
    }
    .card__subtitle {
        font-size: 0.95em;
        line-height: 1;
        margin: 5px 0 0;
        color: #777778;
        margin-top: 20px;
    }
    .card__copy {
        font-size: 1.25em;
        max-width: 900px;
        margin: 0 auto;
        padding: 25px 30px 100px;
        color: #3b393d;
    }
    .meta {
        font-size: .85em;
        display: -webkit-flex;
        display: flex;
        padding: 0 0 35px 0;
        -webkit-align-items: center;
        align-items: center;
    }
    .meta__avatar {
        border-radius: 50%;
    }
    .meta__author {
        font-weight: bold;
        padding: 0 15px;
    }
    .meta__date {
        margin: 0 0 0 auto;
    }
    .card__copy p:first-of-type {
        font-size: 1.5em;
        padding: 0 0 1em 0;
    }
    .card_text img,.card_text table,.card_text iframe{
        max-width: 100%;
    }
    .card_text {
        font-size: 14px;
        
    }
    .card_text p {
        line-height: 1.5em;
    }
    .news.pages {
        box-shadow: none;
    }
    .news.pages ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    .news ul li {
        width: calc(33.33% - 20px);
        margin-right: 20px;
        overflow: hidden;
        max-height: 300px;
        margin-bottom: 20px;
        position: relative;
    }
    .news ul li:nth-child(3n) {
        margin-right: 0;
    }
    .news ul li img {
        width: 960px;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    .new-list-text{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(157, 41, 51,0.5);
        padding: 20px 10px;
        font-size: 1em;
        height: 25%;
        transition: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
   
    .new-list-text h2 {
        font-size: 1.5em;
        line-height: 1;
        margin: 5px 0 0 0;
        color: #fff;
        margin-bottom: 10px;
        
    }
    .new-list-text p {
        font-size: .95em;
        line-height: 1;
        margin: 5px 0 0;
        color: #f5f5f5;
        display: none;
    }
    .news ul li.hover .new-list-text{
        height: 100%;
    }
    .news ul li.hover .new-list-text p{
        display: block;
    }
    .pages.product input {
        display: block;
        width:60%;
        margin-left:20%;
    }
    .pages.product .form__input.form_text {
        margin-left:20%;
        width: 60%;
    }
    .pages.product .button {
        margin: 20px auto;
    }
    /* 手机端 */
    @media screen and (max-width:912px) {
        .o-view-img {
            display: none;
        }
        .view{
            height: 100vh;
            padding-left: 10px;
            padding-right: 10px;
            flex-direction: column;
            justify-content:flex-start
        }
        .view.about {
            flex-direction: unset;
        }
        .v-content {
            flex-wrap: wrap;
            height: auto;
            padding: 0;
            padding-top: 20px;
            flex-direction: column;
            justify-content:flex-start;
            /* overflow: hidden; */
        }
        body {
            height: 100%;
        }
        body .pages {
            position: relative;
            top: 0;
            margin: 0;
            width: 100%;
            top: 40%;
            max-height: unset;
            height: 100vh;
        }
        .view.about .pages {
            top: 25%;
            max-height: 6.5rem;
            overflow: hidden;
        }
        .pages.product {
            overflow: hidden;
        }
        .o-nav {
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            min-height: 100px;
        }
        .o-nav .p2 {
            position: relative;
            left: 0;
            top: 0;
            width: calc(50% - 5px);

            margin-bottom: 10px;
            margin-right: 10px;
        }
        .o-nav .p2:nth-child(2n) {
            margin-right: 0;
        }
        .p2:before,.p2 a {
            left: 0;
            border-color:rgb(157, 41, 51);
            width: 100%;
        }
        .p2:after {
            left: unset;
            right: 28px;
            display: none;
        }
        .p2 a {
            padding: 0;
            text-align: center;
        }
        .p2.active a {
            transform: none;
            width: 100%;
        }
        .p2.active::before {
            transform: none;
            width: 100%;
        }
        .product .p2:before ,.product .p2 a{
            width: 100%;
            left: 0;
        }
        .product .p2:nth-child(3),.product .p2:nth-child(5),.product .p2:nth-child(2),.o-nav .p2:nth-child(4n),.o-nav .p2:nth-child(6n) {
            top: 0;
        }
        body .pages_page:nth-of-type(2) .pages_page__inner {
            overflow: hidden;
        }
        body .pages_page:nth-of-type(2) .pages_page__inner .content_quote {
            left: 5%;
            top:5%;
            display: none;
        }
        body .pages_page:nth-of-type(2) .pages_page__inner .content_quote p {
            width: 92%;
        }
        body .pages_page__inner .control.next:after {
            left: 10px;
            top: 10px;
        }
        body .pages_page:nth-of-type(3) .pages_page__inner .content h1 {
            font-size: 0.4rem;
    padding-left: 0.3rem;
    padding-top: 1rem;
    padding-right: 50%;
        }
        body .hamburger {
            top: 10px;
            right:10px
        }
        body .pages_page__inner .content_quote {
            
            left: 53%;
        }
        body .pages_page:nth-of-type(4) .pages_page__inner .content .content_quote {
            top: 1.2rem;
        }
        body .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(1) {
            width: 45%;
        }
        body .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section:nth-of-type(1), body .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section:nth-of-type(1) {
            left: 20px;
        }
        .new-list {
            margin-top: 100px;
        }
        .news.pages ul {
            padding: 0;
        }
        .news ul li {
            width: calc(50% - 10px);
        }
        .news ul li:nth-child(3n) {
            margin-right: 20px;
        }
        .news ul li:nth-child(2n) {
            margin-right: 0;
        }
        .news ul li img {
            width: 480px;
        }
        .content.pages {
            top: 0;
        }
        .product .poster__title {
            margin-top: 20px;
            font-size: 18px;
        }
        .product .poster__title::before {
            right: -20%;
        }
        .product .poster__title::after {
            left: -20%;
        }
        .pages.product input,.pages.product .form__input.form_text {
            width: 100%;
            margin-left: 0;
        }
        .card__container>img{
            width: 960px;
            margin-top: 45px;
            transform: translateX(-25%);
            position: relative;
        }
        .card__content {
            padding: 0 10px;
        }
        .meta__author,.meta__date,.product .poster__deco {
            font-size: 16px;
        }
        .card__caption {
            padding: 20px 0;
        }
        .card__copy {
            padding: 0;
        }
        .card__btn-close {
            padding-right: 10px;
        }
        .card_text {
            min-height: 600px;
        }
        .sitewidget-bd {
            font-size: 16px;
        }
        .product .pages {
            margin-top: 40px;
        }
        .o-nav .p2 {
            margin-bottom: 20px;
        }
        .p2.active::before ,.p2.active a{
            transform: translateY(-10px);
            background-color: #332c2b;
            color: #fff;
        }
        .poster__deco {
            min-height: 1.45rem;
        }
        .product .pages {
            overflow: hidden;
        }
        .phone-pro {
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding-bottom: 70px;
        }
        .phone-pro>img {
            width: 100%;
        }
        .phone-pro h2 {
            font-size: 24px;
            font-weight: 700;
        }
        .phone-pro-cont {
            font-size: 16px;
        }
        .phone-pro-cont iframe {
            height: 300px;
            width: 100%;
        }
        .text-newm {
            width: 100%;
            padding: 10px 0;
            background-color: rgb(157, 41, 51);
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            margin: 10px 0;
            padding-left: 20px;
        }
        .table-responsive {
            font-size: 16px;
            line-height: 1.5em;
        }
        .table-responsive table {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
        }
        .table-responsive table td,.table-responsive table th{
            font-size: 16px;
        }
        .table-responsive table {
            width: 100%;
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 99%;
            background-color: white;
            table-layout:fixed;
        }   
        .table-responsive table td,.table-responsive table th{
            line-height: 32px;
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
            text-overflow: ellipsis;
            word-wrap:break-word;
          }
          .table-responsive table tr:nth-child(2n) {
            background-color: #eee;
          }
    
    }