@import url("./reset.css");
@import url("./iconfont.css");
body {
  cursor: url("../images/cross-cursor-black.svg") 16 16, auto;
}
a:hover,
button:hover,
input:hover {
  cursor: url("../images/hover-cursor-black.svg") 16 16, auto;
}

.in_tit{
  padding: 0.36rem 0 0.12rem;
  width: 100%;
  border-bottom: 1px solid var(--color-black);
  font-size: 0.35rem;
  font-weight: 700;
  color: var(--color-black);
  /* -webkit-text-stroke: 1px var(--color-black); */
  /* position: sticky; */
  top: 65px;
  line-height: 1.25em;
  padding-left: 0.23rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  transition: all 0.6s ease 0s;
  background-color: var(--color-white);
}

.in_tit::before {
  opacity: 0;
  background: var(--color-white);
  border:1px solid var(--color-black);
  position: relative;
  top: 0;
  transform: none;
  left: -0.1rem;
  transition: all 0.6s ease 0s;
}
section.fixed .in_tit{
  padding: 0;
  font-size: 0.25rem;
  background: var(--color-black);
  -webkit-text-stroke:unset;
  padding-left: 0.4rem;
  height: 0.5rem;
  color: var(--color-white);
  z-index: 996;
  position: fixed;
}
section.fixed .in_tit::before {
  opacity: 1;
}
.display_none {
  display: none;
}
.display_block {
  display: block;
}
/* layout border */
.layout {
  width: 100%;
  height: 100vh;
}
.layout__FrameWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  pointer-events: none;
}
.layout__TopFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 15px;
  z-index: 999;
  background-color: var(--color-white);
}
.layout__NumFrame {
  width: 100%;
  height: 16px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  transform: scale(1, 1);
}
.layout__NumFrame.top {
  transition: all 1s ease 0s;
  border-bottom: 1px solid var(--color-black);
  transform-origin: left top;
}
.layout__BottomFrame {
  position: absolute;
  width: 100%;
  padding: 0px 15px;
  border-top: 1px solid var(--color-black);
  z-index: 999;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-white);
}
.layout__NumFrame.bottom {
  transition: all 1s ease 0s;
  border-top: 1px solid var(--color-black);
  transform-origin: right top;
}
.layout__LeftFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  z-index: 999;
}
.layout__RightFrame {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  z-index: 999;
}
.layout__FrameBox {
  margin: 0px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-ibm);
  font-weight: 500;
  font-size: 12px;
}
.layout__FrameBox.num {
  width: calc(12.5% - 3.75px);
  height: 100%;
  transition: all 1s ease 0s;
  transform: scale(1, 1);
  transform-origin: left top;
  border-left: 1px solid var(--color-black);
}
.layout__FrameBox.num:first-child {
  border-left: none;
}
.layout__AlphabetFrame {
  height: calc(100% - 30px);
  width: 15px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.layout__AlphabetFrame.left {
  border-right: 1px solid var(--color-black);
  transition: all 1s ease 0s;
  transform-origin: left bottom;
}
.layout__AlphabetFrame.right {
  border-left: 1px solid var(--color-black);
  transition: all 1s ease 0s;
  transform-origin: left top;
}
.layout__AlphabetFrame .layout__FrameBox.alpha {
  width: 100%;
  height: calc(25% - 7.5px);
  border-bottom: 1px solid var(--color-black);
}
.layout__AlphabetFrame .layout__FrameBox.alpha:last-child {
  border: none;
}
/* layout border 结束 */
/* layout header */
.layout__FrameWrapper header {
  height: 50px;
  width: calc(100% - 30px);
  display: flex;
  position: fixed;
  top: 15px;
  left: 15px;
  border-bottom: 1px solid var(--color-black);
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  pointer-events: auto;
  background-color: var(--color-white);
}
.layout__FrameWrapper header .logo {
  height: 100%;
  padding-left: 0.23rem;
}
.layout__FrameWrapper header .logo img {
  display: block;
  padding: 0.1rem 0;
  height: 100%;
}
.layout__FrameWrapper header nav {
  width: 55%;
  border-left: 1px solid var(--color-black);
}
.layout__FrameWrapper header nav > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout__FrameWrapper header nav > ul > li {
  flex: 1 1 0%;
  height: 50px;
  border-right: 1px solid var(--color-black);
}
.layout__FrameWrapper header nav > ul > li:last-child {
  border: none;
}
.layout__FrameWrapper header nav > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  text-transform: capitalize;
  position: relative;
}
.sub_menu {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid var(--color-black);
  transition: all 0.5s linear 0s;
  display: none;
  background-color: rgb(255, 255, 255);
}
.sub_menu .container {
  display: flex;
  justify-content: space-between;
}
.sub_menu li {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.sub_menu li:first-child {
  padding-left: 1px;
}
.sub_menu li:last-child {
  padding-right: 1px;
}
.link_thumb_body {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 10px;
  background-color: rgba(0, 43, 77, 0.4);
  transition: background-color 0.6s ease 0s;
}
.link_thumb a {
  position: relative;
}
.link_thumb_label {
  font-size: 0.15rem;
  color: rgb(255, 255, 255);
  text-align: center;
}
.sub_menu img {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  vertical-align: bottom;
  max-height: 263px;
}
.layout__FrameWrapper header nav > ul > li:hover .sub_menu {
  display: block;
}
.link_thumb_icon span {
  content: "";
  display: block;
  background-color: var(--color-white);
  height: 1px;
  position: absolute;
}
.sub_menu .link_thumb_icon {
  margin-top: 20px;
}
.link_thumb_img {
  overflow: hidden;
}
.animate_arrow {
  position: relative;
  display: inline-block;
  width: 60px;
}
.animate_arrow span:nth-child(1) {
  width: 10px;
  transform: rotate(45deg);
  left: 51px;
  top: 0px;
  transform-origin: 100% 0px;
  box-sizing: border-box;
}
.animate_arrow span:nth-child(2) {
  width: 60px;
  left: 0px;
  top: 0px;
  transform-origin: 0px 0px;
}
.link_thumb a:hover .animate_arrow span:nth-child(1) {
  animation: 1s linear 0s infinite normal none running spanShort;
}
.link_thumb a:hover .animate_arrow span:nth-child(2) {
  animation: 1s linear 0s infinite normal none running spanLong;
}
.link_thumb a:hover .link_thumb_body {
  background-color: rgba(0, 43, 77, 0.8);
}
.link_thumb a:hover .link_thumb_img img {
  transform: scale(1.15);
}
@keyframes spanShort {
  0% {
    transform: rotate(45deg) scaleX(0);
    transform-origin: 100% 0px;
    top: 0px;
    left: 51px;
  }
  30% {
    transform: rotate(45deg) scaleX(0);
    transform-origin: 100% 0px;
    top: 0px;
    left: 51px;
  }
  50% {
    transform: rotate(45deg) scaleX(1);
    transform-origin: 100% 0px;
    top: 0px;
    left: 51px;
  }
  51% {
    transform: rotate(45deg) scaleX(1);
    transform-origin: 0px 0px;
    top: -7px;
    left: 54px;
  }
  80% {
    transform: rotate(45deg) scaleX(1);
    transform-origin: 0px 0px;
    top: -7px;
    left: 54px;
  }
  100% {
    transform: rotate(45deg) scaleX(0);
    transform-origin: 0px 0px;
    top: -7px;
    left: 54px;
  }
}
@keyframes spanLong {
  0% {
    transform: scaleX(0);
    transform-origin: 0px 0px;
  }
  30% {
    transform: scaleX(1);
    transform-origin: 0px 0px;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0px 0px;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 100% 0px;
  }
  80% {
    transform: scaleX(0);
    transform-origin: 100% 0px;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 0px;
  }
}
.language {
  max-width: 8%;
  position: relative;
  padding-right: 0.2rem;
}
.language i {
  display: block;
  line-height: 50px;
  font-size: 14px;
  font-style: normal;
  text-align: center;
}
.language .link_thumb_icon {
  position: absolute;
  transform: rotate(90deg);
  top: 63%;
  right: 0.25rem;
  transform-origin: right bottom;
  zoom: 0.8;
  
}
.language .link_thumb_icon span {
  background-color: var(--color-black);
}
.animate_arrow {
  transition: all 0.5s linear 0s;
}
.language .animate_arrow span:nth-child(2) {
  width: 18px;
  left: 42px;
}
.language:hover .animate_arrow span:nth-child(1) {
  animation: 1.5s linear 0s infinite normal none running spanShort;
}
.language:hover .animate_arrow span:nth-child(2) {
  animation: 1.5s linear 0s infinite normal none running spanLong;
}
.language_menu {
  position: absolute;
  display: none;
  top: 50px;
  left: -1px;
  width: 100%;
  border-left: 1px solid var(--color-black);
  transition: all 0.5s linear 0s;
  background-color: var(--color-white);
}
.language:hover .language_menu {
  display: block;
}
.language_menu li {
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--color-black);
}
.language_menu li a {
  color: var(--color-black);
  text-transform: capitalize;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.14rem;
  position: relative;
  transition: all 0.5s linear 0s;
  z-index: 999;
}
.language_menu li a::before,
.layout__FrameWrapper header nav > ul > li > a::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: var(--color-black);
  position: absolute;
  top: 50%;
  left: 0.1rem;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.layout__FrameWrapper header nav > ul > li > a::before {
  left: 15%;
}
.language_menu li:hover a {
  padding-left: 15px;
}
.language_menu li:hover a::before,
.layout__FrameWrapper header nav > ul > li.active > a::before,
.layout__FrameWrapper header nav > ul > li:hover > a::before {
  opacity: 1;
}

/* layout header 结束 */
/* layout footer */

.layout__FrameWrapper footer {
  height: 30px;
  width: calc(100% - 30px);
  display: flex;
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-bottom: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
  background-color: var(--color-white);
  pointer-events: auto;
}
.footer_left {
  width: 260px;
  border-right: 1px solid var(--color-black);
  display: flex;
}
.footer_left_icon {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding-left: 0.12rem;
  justify-content: space-between;
  width: 200px;
  border-right: 1px solid var(--color-black);
}
.footer_left_icon a {
  display: block;
  flex: 1 1 0%;
}
.footer_left_icon a i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  font-size: 18px;
  color: var(--color-black);
  text-align: left;
}
.footer_left_icon .icon-instagram-fill {
  font-size: 24px;
}
/* search */
.footer_center {
  width: 30%;
  height: 100%;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  display: flex;
  padding:0 0.2rem;
  align-items: center;
}
.footer_center a {
  display: block;
  width: 100%;
  height: 60px;
  border-right: 1px solid var(--color-black);
  font-size: 0.18rem;
  line-height: 60px;
  text-align: center;
  color: var(--color-black);
}
.footer_center input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  
}
.search_icon {
  background-color: var(--color-black);
  width: 18px;
  height: 18px;
  padding: 0.02rem;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;

  align-items: center;
}
.search_icon svg {
  width: 100%;
  height: 100%;
  fill: var(--color-white);
}
/* search 结束 */
.footer_right p {
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
  word-spacing: 5px;
  font-weight: 700;
}
.footer_right img {
  height: 28px;
  display: block;
  margin-right: 20px;
}
/* 日夜切换 */
.footer_left_switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.12rem;
  
}
.footer_left:hover {
  cursor: url("../images/hover-cursor-black.svg") 16 16, auto;
}
.footer_left_switch .selector-name {
  position: relative;
  overflow: hidden;
  font-size: 0.14rem;
}

.footer_left_switch .selector-name .selector-text {
  position: relative;
  transition: var(--animation-primary);
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer_left_switch .selector-name .selector-text h6 {
  color: var(--color-black);
}

.footer_left_switch .selector-name .selector-text.light {
  transform: translateY(0%) rotate(0.001deg);
}
.footer_left_switch .selector-name .selector-text.light h6{
  font-size: 14px;
}

.footer_left_switch .selector-name .selector-text.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(120%) rotate(0.001deg);
}

[data-theme-site="dark"] .footer_left_switch .selector-name .selector-text.light {
  transform: translateY(-120%) rotate(0.001deg);
}

[data-theme-site="dark"] .footer_left_switch .selector-name .selector-text.dark {
  transform: translateY(0%) rotate(0.001deg);
}

.footer_left_switch .icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 0.1rem;
}

.footer_left_switch .icon::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  background-color: var(--color-black);
  transition: all var(--animation-primary);
  transform: scale(1) rotate(0.001deg);
}

.footer_left_switch .icon svg {
  width: 12px;
  transform: rotate(0.001deg);
  transition: all var(--animation-primary);
  fill: var(--color-white);
}

.footer_left_switch .icon svg path {
  fill: var(--color-light);
  transition: fill var(--animation-primary);
}

[data-theme-site="dark"] .footer_left_switch .icon svg {
  width: 1em;
  transform: rotate(180.001deg);
}

@media (hover: hover) { 

  .footer_left_switch:hover .icon::before {
     transform: scale(1.1) rotate(0.001deg);
  }

}
/* 日夜切换结束 */
/* layout footer 结束 */
main {
  width: 100%;
  height: auto;
  padding: 65px 15px 45px;
}
/* main footer */
/* .m_footer { --color-white: #000; --color-black: #fff; color: rgb(255, 255, 255); } */
.m_footer {
  background-color: var(--color-white);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* padding-bottom: 44px; */
  align-items: stretch;
  text-align: center;
  position: relative;
  z-index: 996;
  border-top: 1px solid var(--color-black);
}
.m_foot_item {
  border-right: 1px solid var(--color-black);
  height: auto;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m_foot_item:last-child {
  border-right: 0px;
}
.subscribe {
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
}
.subscribe h3 {
  padding: 0.12rem 0.23rem;
  font-size: 0.16rem;
  border-bottom: 1px solid var(--color-black);
}
.subscribe .form-input,
.subscribe .form-checkbox {
  padding-left: 0.23rem;
}
.subscribe .form-checkbox {
  padding-bottom: 0.12rem;
  font-size: 0.14rem;
}
.subscribe .checkbox_span {
  left: 0.23rem;
}
.reser {
  padding-right: 0.23rem;
  background-color: var(--color-black);
  color: var(--color-white);
  cursor: url("../images/cross-cursor-white.svg") 16 16, auto;
  position: relative;
  z-index: 996;
  font-size: 0.12rem;
  height: 0.3rem;
  line-height: 0.3rem;
} 
.subscribe .form-input {
  position: relative;
  padding-right: calc(30% + 0.23rem);
  padding: 0.15rem 0.23rem;
}
.m_foot_send {
  position: absolute;
  width: 30%;
  top: 0px;
  right: 0px;
  height: 100%;
  display: block;
  border-left: 1px solid var(--color-black);
}
.m_foot_send .animate_arrow span:nth-child(2) {
  width: 40px;
  left: 20px;
}
.subscribe .link_thumb_icon {
  position: absolute;
  left: calc(50% - 10px);
  transform: translateX(-50%);
  top: 50%;
}

.m_foot_send .link_thumb_icon span {
  background-color: var(--color-black);
}
.m_foot_send:hover span:nth-child(1) {
  animation: 1s linear 0s infinite normal none running spanShort;
}
.m_foot_send:hover span:nth-child(2) {
  animation: 1s linear 0s infinite normal none running spanLong;
}
.m_foot_nav {
  flex-wrap: wrap;
}
.m_foot_nav_item {
  width: 100%;
  text-align: left;
  padding: 0.12rem 0.23rem;
  border-bottom: 1px solid var(--color-black);
  position: relative;
  padding-left: 0.4rem;
  text-transform: capitalize;
}
.m_foot_nav_item.active::before,
.m_foot_nav_item:hover::before {
  opacity: 1;
}
.m_foot_nav_item::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: var(--color-black);
  position: absolute;
  top: 50%;
  left: 0.15rem;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.m_foot_nav_item:last-child {
  border-bottom: 0;
}
/* main footer 结束*/
/* index css */
/* banner */
.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: end;
  box-sizing: border-box;
  justify-content: space-between;
  height: calc(-109px + 100vh);
  border-bottom: 1px solid var(--color-black);
}
.banner .banner_p {
  height: 42%;
  width: 100%;
  position: relative;
}
.banner .banner_p p {
  position: absolute;
  bottom: 0px;
  font-size: 0.16rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.banner .banner_h2 {
  width: 100%;
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner .banner_h2 strong {
  color: var(--color-red);
  font-size: 0.65rem;
  text-shadow: rgba(0, 0, 0, 0.28) -2px 2px 1px;
}
.banner_logo {
  width: calc(100% - 30px);
  margin: 0px auto;
}
.banner_logo img {
  width: 100%;
  display: block;
}
/* banner 结束 */
/* product */
.in_product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--color-black);
}

.in_pro_left {
  width: 30%;
}
.in_pro_list {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  padding-right: 0.23rem;
  padding-bottom: 0.4rem;
}
.in_pro_list li {
  width: 50%;
  background-color: var(--color-white);
  position: relative;
  padding-top: 0.6rem;
}
/* 
.in_product.fixed .in_pro_list li.l_line::before {
  transition-delay: 0.6s;
}
.in_product.fixed .in_pro_list li::before {
  height: 100%;
  transition: all 0.6s linear;
}

.in_pro_list li::before {
  height: 0;
}
.in_pro_list li::after {
  width: 0;
}
.in_pro_list li:nth-child(2n) {
  padding-right: 5%;
}
.in_pro_list li:nth-child(2n - 3) {
  padding-left: 5%;
}
.in_product.fixed .in_pro_list li::after {
  width: 100%;
  transition: all 0.6s linear;
}
.in_product.fixed .in_pro_list li.t_line::after {
  transition-delay: 0.6s;
}
.in_pro_item {
  padding: 0.4rem 0.23rem;
  display: flex;
  align-items: stretch;
  height: 50%;
  max-height: 5.56rem;
}
.in_pro_item_img {
  max-width: 4.17rem;
  max-height: 5.56rem;
  border: 1px solid var(--color-black);
  min-width: 300px;
  overflow: hidden;
  position: relative;
  z-index:12;
  background-color: var(--color-white);
}
.in_pro_item_img p {
  padding: 0.1rem;
}
.in_pro_item_img img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-height: none;
  display: block;
  border-bottom: 1px solid var(--color-black);
}
.in_pro_item_cont {
  flex-grow: 1;
  height: 100%;
  background-color: var(--color-red);
  transform: translateY(-0.2rem);
  position: relative;
  z-index: 9;
  border-right: 1px solid var(--color-black);
  border-left: none;
  padding-left: 0.2rem;
  display: flex;
  flex-direction: column;
}

.in_pro_item_cont::before {
  content: '';
  width: 0.275rem;
  height: 0.2rem;
  background-color: var(--color-white);
  position: absolute;
  top: -0px;
  left: -0rem; 
  transform: rotate(-45deg);
  z-index: 10;
  border-bottom: 1px solid var(--color-black);
  transform-origin: bottom left;
}
.in_pro_item_cont::after {
  content: '';
  width: 0.275rem;
  height: 0.2rem;
  background-color: var(--color-red);
  position: absolute;
  bottom: calc(-0.2rem + 1px);
  left: 0px;
  transform: rotate(-45deg);
  z-index: 10;
  border-bottom: 1px solid var(--color-black);
  transform-origin: bottom left;
}
.in_pro_item_cont p {
  flex: 1;
  border-left: 1px solid var(--color-black);
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  padding-left: 0.4rem;
  position: relative;
}
.in_pro_item_cont p:last-child {
  border-bottom: 1px solid var(--color-black);
  padding-left: 0;
  max-height: 0.6rem;
}
.in_pro_item_cont .form-btn span {
  margin-left: 0.4rem;
}
.in_pro_item_cont p.active::before,.in_pro_item_cont p:hover::before{
  opacity: 1;
} */
/* 测试 */
.in_pro_item_z .h_20 {
  position: absolute;
  background-color: var(--color-red);
  top: 0.4rem;
  left: 10%;
  width: calc(50% - 0.35rem);
  min-width: calc(300px + 0.2rem);
  height: 0.2rem;
  z-index: 13;
  border-top: 1px solid var(--color-black);
}
.in_pro_item_z:nth-child(2n) .h_20 {
  left: 0.23rem;
}
.in_pro_item_z .h_20::before {
  content: '';
  width: 0.275rem;
  height: 0.2rem;
  background-color: var(--color-white);
  position: absolute;
  top: -0px;
  left: 1px; 
  transform: rotate(-45deg);
  z-index: 10;
  border-bottom: 1px solid var(--color-black);
  transform-origin: bottom left;
}
.in_pro_item_z .h_20::after {
  content: '';
  width: 0.3rem;
  height: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-black);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.in_pro_item {
  display: flex;
  width: 50%;
  background-color: var(--color-black);
  padding-left: 5%;
}
.in_pro_item_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 3rem;
}
.in_pro_item_left::before {
  content: '';
  width: 10px;
  height: calc(0.1rem + 1px);
  display: block;
  background-color: aliceblue;
  position: absolute;
  left: 0;
  top: 0px;
  transform: skewX(-45deg);
  transition: left .3s linear;
  z-index: 999;
  opacity: 0;
}
.in_pro_item_left:hover::before {
  left: calc(100% - 0.05rem);
  opacity: 1;
}
.in_pro_item_left .h_20 {
  height: 0.1rem;
  transform: skewX(-45deg);
  background-color: var(--color-black);
  width: 3rem;
  transform-origin: right bottom;
  border-right: 1px solid var(--color-white);
}
.in_pro_item_left .in_pro_item_img {
  width: 3rem;
  height: 3rem;
  max-width: unset;
  max-height: unset;
  border: none;
  min-width: unset;
  display: flex;
  align-content: center;
  align-items: center;
  border: 1px solid var(--color-black);
  border-bottom: 0;
}
.in_pro_item_left .in_pro_item_img img {
  border: none;
}
.in_pro_item_left p {
  width: 3rem;
  padding: 0.1rem;
  border: 1px solid var(--color-black);
  border-top: none;
  text-align: center;
}

.in_pro_item_left::after {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: calc(100% - 0.1rem);
  right: -0.1rem;
  top: 0.1rem;
  transform: skewY(-45deg);
  background-color: var(--color-black);
  transform-origin: left top;
}
.in_pro_item_right {
  flex-grow: 1;
  margin-left: calc(0.1rem - 1px);
  border: 1px solid var(--color-black);
  margin-bottom: 0.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.1rem;
}
.in_pro_item_right::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.in_pro_item_right a {
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.in_pro_item_right .form-btn {
  height: 100%;
  zoom: 0.5;
  background-color: unset;
}
.in_pro_item_right .form-btn .link_thumb_icon {
  position: absolute;
  right: 0;
}
.in_pro_item_right p {
  flex: 1;
  display: flex;
  align-items: center;
  /* padding: 0.1rem 0.1rem 0.1rem 0.4rem; */
  border-bottom: 1px solid var(--color-black);
  position: relative;
  padding-left: 0.4rem;
}
.in_pro_item_right p.active::before, .in_pro_item_right p:hover::before {
  opacity: 1;
}
/* product 结束 */
/* solution start */
.in_solutions {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  border-bottom: 1px solid var(--color-black);
}
.in_solution_left {
  width: 50%;
}
.in_solution_left img {
  width: 100%;
  vertical-align: middle;
}
.in_solution_right {
  width: 50%;
  height: 100%;
  padding:1.5rem 1rem;
  display: flex;
  flex-direction: column;

}
.in_solution_right h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5em;
  word-spacing:0.1rem;
  text-transform: uppercase;
}
.in_solutions_swiper {
  position: absolute;
  width: 70%;
  top: calc(50% + 0.5rem);
  transform: translateY(-50%);
  right: 1rem;
}
.in_solutions_swiper .swiper-slide {
  width: 3.25rem;
  height: 3rem;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}
.in_solutions_logo {
  display: block;
  text-align: right;
  margin-top: 0.1rem;
  position: absolute;
  right: 1rem;
  bottom: 20%;
}
.in_solutions_logo img {
  max-width: 1.2rem;
}
.in_solutions .swiper-button-next, .in_solutions .swiper-button-prev {
  color: var(--color-white);
  top: calc(50% + 0.5rem);
  background: var(--color-black);
}
.in_solutions .swiper-button-next {
  right: 0.6rem;
}
.in_solutions .swiper-button-prev {
  left: calc(30% - 1.4rem);
}
.in_solutions .swiper-button-next:after,.in_solutions .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 700;
}
.in_solutions_swiper .swiper-slide.swiper-slide-active {
  background-color: var(--color-black);
}
/* solution end  */
/* new start */
section.fixed {
  padding-top: 50px;
}
.in_news_list {
  display: flex;
}
.in_news_item {
  padding: 0.3rem 0.23rem;
  border-right: 1px solid var(--color-black);
}
.in_news_item img {
  border: 1px solid var(--color-black);
  display: block;
}
.in_new_imgbox {
  position: relative;
}
.in_news .card_data {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  font-size: 0.24rem;
  padding: 0.26rem 0.4rem;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  font-weight: 700;
}
.in_news .card_data span {
  font-size: 0.52rem;
}
.in_new_cont {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
}
.in_new_tit {
  font-size: 0.256rem;
  line-height: 1.5em;
  font-weight: 500;
  margin: 0.2rem 0;
}
.in_new_tag {
  max-width: fit-content;
  border: 1px solid var(--color-black);
  padding: 0.1rem 0.15rem;
  gap: 0.1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in_new_des {
  margin: 0.2rem 0;
}
.in_new_btn {
  max-width: fit-content;
  padding: 0.1rem 0.15rem;
  background: var(--color-black);
  
  font-weight: 700;
}
.in_new_btn a {
  color: var(--color-white);
}
/* new end */
/* index css 结束 */
